body {
	margin: 0;
	padding: 0;
}

.navbar-box
{
    z-index: 1;
    position: fixed;
    top: 0;
    height: 115px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #444;
}

.navbar {
    position: relative;
    width: 1024px;
    margin: auto;
    font-size: 2ex;
	font-weight: 400;
    font-family: Montserrat;
	text-align: left;
	display: block;
}

.logo {
    display: inline-block;
    width: 310px;
    height: 50px;
    color: orange;
    font-size: 5ex;
    padding-top: 30px;
}

.logo-name {
    color: #3070a8;
    font-weight: 700;
}

.text-heder {
    text-align: right;
    position: relative;
    top: -81px;
    line-height: 10px;
}

.navbar a {
    color: #989898;
    padding: 14px 0px;
    text-decoration: none;
}

.menu {
	padding: 0;
	margin: 0;
}

.list {
    display: inline-block;
    
}

.list .menu {
    font-weight: 800;
    color: #989898;
    padding: 14px 10px;
    line-height: 85px;
    
}

.navbar a:hover, .list:hover .menu{
    /* background-color: gray; */
	border-bottom: 3px solid #3070a8;
    
}

/* .list-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: gray;
    padding-right: 300px;
    padding-left: 400px;
}

.list-content a {
    text-align: center;
    color: white;
    display: inline-block;
    
}

.list-content a:hover {
    background-color: #ddd;
}

.list:hover .list-content {
    display: block;
	width: 100%;
	position: absolute;
	left: 0;
} */




.first-block {
    position: absolute;
    top: 115px;
    margin: auto;
    display: block;
    width: 100%;
    height: 585px;
    background-image: url("../img/notebook.jpg");
    background-size: cover;
}

.paranja {
    height: 100%;
    width: 100%;
    background-color: rgba(1, 55, 87, 0.774);
    text-align: center;
}

.first-block-text {
    position: relative;
    margin: auto;
    display: block;
    width: 700px;
}

h1 {
    font-family: Montserrat;
    font-weight: 200;
    color: white;
    margin: 0px;
    padding-top: 120px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    color: white;
    font-size: 27pt;
    
}

.h3-lorem {
    line-height: 33px;
    margin: auto;
    text-align: center;
    width: 580px;
    font-weight: 400;
    color: white; 
    font-style: italic;
}

.button-first-block {
    margin-top: 50px;
    outline: none;
    color: white;
    width: 250px;
    height: 60px;
    background: none;
    border: 1px solid rgba(220, 220, 220, 0.432);
}









.two-block {
    margin-top: 700px;
    height: 585px;
    text-align: center;
    min-width: 1040px;
}

.two-blok-text {
    margin: auto;
    display: block;
    width: 700px;
}


.logo-text-two-block {
    position: relative;
    top: 70px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    color: #41525c;
    font-size: 3.2ex;
}

.firt-colona {
    margin: 0px 20px;
    display: inline-block;
    width: 306px;
    position: relative;
    text-align: center;
} 

.our-icon1 {
    margin-top: 170px;
    display: block;
}

.object-1 {
    display: inline-block;
    width: 200px;
    margin-bottom: 30px;
}

.logo-over-objegt1 {
    display: inline-block;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 400;
    color: #3070a8;
    font-size: 23pt;
    margin-bottom: 10px;
}

.text-over-objegt1 {
    display: block;
    font-family: Montserrat;
    font-weight: 400;
    color:rgb(182, 182, 182);
    width: 306px;
    font-size: 10pt;
    line-height: 23px;
}

.two-colona {
    margin: 0px 25px;
    display: inline-block;
}

.our-icon2 {
    margin-top: 170px;
    display: inline-block;
}

.object-2 {
    display: inline-block;
    width: 200px;
    margin-bottom: 30px;
}

.logo-over-objegt2 {
    display: inline-block;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 400;
    color: #3070a8;
    font-size: 23pt;
    margin-bottom: 10px;
}

.text-over-objegt2 {
    display: block;
    font-family: Montserrat;
    font-weight: 400;
    color:rgb(182, 182, 182);
    width: 306px;
    font-size: 10pt;
    line-height: 23px;
}

.tree-colona {
    margin: 0px 25px;
    display: inline-block;
}

.our-icon3 {
    margin-top: 170px;
    display: inline-block;
}

.object-3 {
    display: inline-block;
    width: 200px;
    margin-bottom: 30px;
}

.logo-over-objegt3 {
    display: inline-block;
    position: relative;
    top: 30px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 400;
    color: #3070a8;
    font-size: 23pt;
    margin-bottom: 10px;
}

.text-over-objegt3 {
    display: block;
    font-family: Montserrat;
    font-weight: 400;
    color:rgb(182, 182, 182);
    width: 306px;
    font-size: 10pt;
    line-height: 23px;
}







.tree-block {
    min-width: 1040px;
    position: relative;
    height: 585px;
    background-image: url(../img/people.jpg);
    background-size: cover;
}

.paranja2 {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    text-align: left;
}

.tree-bolock-all-content {
    display: block;
    text-align: center;
}

.tree-block-logo-text {
    padding-right: 10%;
    display: inline-block;
    color: #ee8129;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 17pt;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
    margin-top: 90px;
    width: 700px;
    margin-bottom: 25px;
}

.tree-block-italic-text {
    position: relative;
    top: 25px;
    text-transform: none;
    color: white;
    font-weight: 400;
    font-family: Montserrat;
    font-style: italic;
    font-size: 11pt;
}

.tree-block-list {
    margin-top: 50px;
    font-weight: 400;
    color: gray;
    text-transform: none;
    font-size: 11pt;
    line-height: 27px;
    margin-left: -20px;
}

.osobena-li {
    color: #3070a8;
}

li {
    margin: 20px;
}







.four-block {
    text-align: center;
    display: block;
    height: 585px;
    min-width: 1040px;
}

.title-list {
    font-size: 4ex;
    display: block;
    margin: 40px 0px 27px 0px;
    color: #16436a;
    font-weight: 700;
    font-family: Montserrat;
}

.all-tile {

}

.first-tile {
    position: relative;
    right: -10px;
    display: inline-block;
    width: 298px;
    height: 380px;
}

.top-block {
    position: relative;
    display: block;
    background-color: #37c2d3;
    width: 300px;
    height: 75px;
    border-radius: 4px;
    text-align: center;
}

.top-h2 {
    padding: 20px 10px;
    color: white;
}

.midle-block {
    display: block;
    position: relative;
    top: -5px;
    background-color: white;
    border: 1px solid #e8eaec;
    width: 298px;
    height: 380px;
    text-align: center;
}

.midle-h3 {
    padding: 0px;
    color: #364959;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dolar {
    color: #364959;
    position: relative;
    top: -30px;
    font-weight: 700;
}

.price {
    position: relative;
    color: #364959;
    font-weight: 700;
    font-size: 60px;
}

.monthly {
    font-weight: 700;
    color: #364959;
}

.table {
    position: relative;
    top: 15px;
    margin: auto;
    width: 260px;
    height: 260px;
    text-align: left;
    margin-bottom: 0px;
}

.img-gal {
    position: absolute;
    left: 34px;
    width: 17px;
}

.first {
    padding: 10px 0;
    background-color: #edf5fd;
    border: 1px solid white;
}

.first1 {
    padding: 8px 0;
    background-color: #f3f3f3;
    border: 1px solid white;
}

.table-text {
    display: inline-block;
    position: relative;
    left: 75px;
    color: #888c94;
}

.button-enrol {
    color: white;
    border: 0px;
    height: 40px;
    border-bottom: 3px solid #16436a;
    width: 260px;
    border-radius: 4px;
    background-color: #3371a6;
    position: relative;
    top: -65px;
    margin: auto;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
}

.two-tile {
    display: inline-block;
    border-radius: 4px;
    height: 478px;
    width: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.top-block2 {
    position: relative;
    display: inline-block;
    background-color: #ec8136;
    width: 300px;
    height: 85px;
    border-radius: 4px;
    text-align: center;
}

.top-h2-2 {
    padding: 10px 10px;
    color: white;
}

.midle-block2 {
    display: block;
    position: relative;
    top: -5px;
    background-color: white;
    border: 4px solid #ec8136;
    border-radius: 4px;
    width: 292px;
    height: 390px;
    text-align: center;
}

.button-enrol2 {
    border-bottom: 3px solid #b35715;
    background-color: #ec8136;
}

.tree-tile {
    z-index: -1;
    position: relative;
    left: -10px;
    display: inline-block;
}

.top-block3 {
    position: relative;
    display: block;
    background-color: #1cb79a;
    width: 300px;
    height: 75px;
    border-radius: 4px;
    text-align: center;
}







.reviews {
    height: 320px;
    min-width: 1040px;
}

.reviews {
    display: block;
    height: 315px;
    background-image: url("../img/back.jpg");
}

.paranja-reviews {
    position: relative;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 9, 15, 0.918);
}

.reviews-h2 {
    font-weight: 200;
    color: #3170a8;
    font-size: 40pt;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}

.h2-orange {
    color: orange;
}

.all-foto-coment {
    display: block;
    text-align: center;
}

.girl-foto {
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 100px;
    height: 100px;
    
}

.white-triangle {
    position: relative;
    top: -36px;
    display: inline-block;
}


.white-triangle2 {
    position: relative;
    top: -36px;
    display: inline-block;
}

.coment-box {
    padding: 10px;
    position: relative;
    margin: 0px;
    top: 10px;
    left: -5px;
    display: inline-block;
    background-color: white;
    width: 345px;
    height: 80px;
}

.coment-text {
    display: block;
    font-size: 13pt;
    font-weight: 600;
    font-style: oblique;
    text-align: left;
    color: #3170a8;
}

.coment-customers {
    position: relative;
    top: -22px;
    display: block;
    font-size: 13pt;
    font-weight: 600;
    font-style: oblique;
    text-align: right;
    color: #3170a8;
    right: 0px;
}

.coment-dot {
    position: relative;
    top: -22px;
    display: block;
    font-size: 13pt;
    text-align: center;
    color: #3170a8;
}

.coment-coment {
    width: 350px;
    position: relative;
    top: -21px;
    display: block;
    font-size: 13pt;
    text-align: left;
    color: #868686;
}

.men-foto {
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 100px;
    height: 100px;
    margin-left: 40px;
}





.niz
{
    background-image: url("../img/map.png");
    background-size: cover;
    
}

.niz-niz
{
    margin: auto;
    display: flex;
    width: 1024px;
    text-align: center;
}

.contact
{
    display: block;
    text-align: left;
    width: 40%;
    height: 350px;
}

.icon-nav
{
    display: inline;

}

.metka
{
    position: relative;
    top: 39px;
}

.Phone
{
    position: relative;
    top: 197px;
    left: -21px; 
}

.mail
{
    position: relative;
    top: 224px;
    left: -45px; 
}

.contact-ul
{
    font-size: 2ex;
    left: 60px;
    position: relative;
    display: inline;
    list-style-type: none; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
}

.contact-ul-two
{
    padding: 0px;
    font-size: 2ex;
    left: 60px;
    top: 35px;
    position: relative;
    display: block;
    list-style-type: none; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
}

.social
{
    position: relative;
    top: 40px;
}

.facebook
{
    margin-right: 15px;
}

.twiter
{
    margin-right: 15px; 
}

.map 
{
    width: 60%;
}

.jopka
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #3070a8;
    padding-top: 25px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    height: 75px;
}

.Company
{
    font-weight: 700;
}

.Iconic
{
    font-weight: 800;
    color: #1d1c1c;
}