body {
    margin: 0px;
    font-family: Montserrat;
}

.reviews {
    display: block;
    height: 315px;
    background-image: url("../img/back.jpg");
}

.paranja {
    position: relative;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(4, 23, 49, 0.925);
}

.reviews-h2 {
    font-weight: 200;
    color: #3170a8;
    font-size: 40pt;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}

.h2-orange {
    color: orange;
}

.all-foto-coment {
    display: block;
    text-align: center;
}

.girl-foto {
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 100px;
    height: 100px;
    
}

.white-triangle {
    position: relative;
    top: -36px;
    display: inline-block;
}


.white-triangle2 {
    position: relative;
    top: -36px;
    display: inline-block;
}

.coment-box {
    padding: 10px;
    position: relative;
    margin: 0px;
    top: 10px;
    left: -5px;
    display: inline-block;
    background-color: white;
    width: 345px;
    height: 80px;
}

.coment-text {
    display: block;
    font-size: 13pt;
    font-weight: 600;
    font-style: oblique;
    text-align: left;
    color: #3170a8;
}

.coment-customers {
    position: relative;
    top: -22px;
    display: block;
    font-size: 13pt;
    font-weight: 600;
    font-style: oblique;
    text-align: right;
    color: #3170a8;
    right: 0px;
}

.coment-dot {
    position: relative;
    top: -22px;
    display: block;
    font-size: 13pt;
    text-align: center;
    color: #3170a8;
}

.coment-coment {
    width: 350px;
    position: relative;
    top: -21px;
    display: block;
    font-size: 13pt;
    text-align: left;
    color: #868686;
}

.men-foto {
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 100px;
    height: 100px;
    margin-left: 40px;
}